<h1 class="text-center mt-5">Pago Fallido</h1>
<p class="text-center">Hubo un problema procesando tu pago. Intenta nuevamente.</p>
<a href="/carrito" class="btn btn-danger d-block mx-auto mt-3">Volver al carrito</a>
