<h1 class="text-center mt-5">¡Pago Exitoso!</h1>
<p class="text-center">Gracias por tu compra. Tu pedido está en proceso.</p>
<a href="/" class="btn btn-primary d-block mx-auto mt-3">Volver al inicio</a>
